@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
  color: white;
  background-color: black;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  .scrollbar::-webkit-scrollbar-thumb {
      background: #888
  }

  .mobile-scrollbar::-webkit-scrollbar {
    width: 3px;
  }
  .mobile-scrollbar::-webkit-scrollbar-thumb {
      background: #888
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}